[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "~=2.3"
emoji = "~=2.12"
pydantic = "~=2.7"
python-dotenv = "~=1.0"
requests = "~=2.32"

[dev-packages]
pylint = "~=3.2"
pytest = "~=8.2"
pytest-mock = "~=3.14"

[requires]
python_version = "3.11"
