[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "~=2.6"
emoji = "~=2.14"
pydantic = "~=2.11"
python-dotenv = "~=1.1"
requests = "~=2.32"

[dev-packages]
pylint = "~=3.3"
pytest = "~=8.4"
pytest-mock = "~=3.15"

[requires]
python_version = "3.11"
